* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto';
}
.clear{
	clear: both;
}
div{
	display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
header{
	width: 100%;
    height: 305px;
    padding: 50px 0 100px 0px; 
    background: url(image/awfaw.png) no-repeat;
    background-size: cover;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.nav {
    height: 80px;
    padding: 10px 0px;
    background: #0093dd;
    width: 100%;
    float: left;
    position: relative;
}
.logo {
    width: 10%;
    text-align: center;
    float: left;
}
.menu {
    position: relative;
    width: 75%;
    padding-left: 5px;
    float: left;
}    
.menu ul{
	list-style: none;
}
.menu ul li {
    float: left;
    line-height: 80px;
    position: relative;
}
.menu ul li a {
    color: #f7f7f7;
    display: block;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.menu ul li a:hover{
	color: #C3C3C3;
}
a{
	text-decoration: none;
}
.search {
    float: right;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    margin: 20px 5px 20px 0px;
}
.search form {
    background: #fff;
}
.search input[type="text"] {
    padding: 8px 5px;
    font-size: 13px;
    border: none;
    font-family: 'Roboto', sans-serif;
}
.kiri_atas {
    width: 35%;
    margin: 20px 0px 0px 0px;
    float: left;
    color: #f7f7f7;
}
.kiri_atas h1 {
    padding: 10px 0px;
    background: #f8c301;
    margin: 10px 0;
    box-shadow: 0px 0.4px 0.4px grey;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .4px;
    font-weight: normal;
}
h1 {
    font-size: 160%;
    font-family: 'Roboto';
}
.kiri_atas p {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0,147,221,0.7);
}
p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}
.kepsek {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid #0093dd;
    margin: 20px auto 20px auto;
}
.kepsek img {
    width: 100%;
    min-height: 100px;
    padding: 0 !important;
    border: none !important;
}
.welcome_title {
    font-weight: normal;
    margin: 0px 0px 50px 0px;
}
h2 {
    font-size: 180%;
    display: block;
    font-family: 'Roboto';
    text-align: center;
}
.sambutan{
	padding-bottom: 50px;
}
#welcome p {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
    word-spacing: 1px;
    line-height: 22px;
}
.btn_read {
    width: 170px;
    display: block;
    padding: 15px 0px;
    border-radius: 3px;
    text-align: center;
    background: #0093dd;
    color: #f7f7f7;
    margin: 20px auto;
    font-family: 'Roboto';
}
.btn_read:hover{
	background: #0082C4;
}
.k_atas {
    padding: 15px 0;
    width: 23%;
    float: left;
    margin: 1%;
    border-bottom: 5px solid #0093dd;
}
.k_atas:hover{
	color: #0093dd;
	cursor: pointer;
}
.k_atas li{
	list-style: none;
}
.k_atas1 {
    width: 64px;
    height: 64px;
    margin: 0 auto 5px auto;
    background: url(image/Fasilitas.png);
}
.k_atas2 {
    width: 64px;
    height: 64px;
    margin: 0 auto 5px auto;
    background: url(image/Lokasi.png);
}
.k_atas3 {
    width: 64px;
    height: 64px;
    margin: 0 auto 5px auto;
    background: url(image/Sejarah.png);
}
.k_atas4 {
    width: 64px;
    height: 64px;
    margin: 0 auto 5px auto;
    background: url(image/Prestasi.png);
}
h3 {
    font-size: 140%;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
}
#news {
    width: 100%;
    height: 270px;
    background: #f2f2f2;
    padding: 50px 0;
    margin-top: 20px;
}
h4{
	font-family: 'Roboto', sans-serif;
    font-size: 180%;
}
.isi_news {
    width: 23%;
    margin: 1%;
    float: left;
}
.isi_news img {
    margin-bottom: 15px;
    width: 100%;
    height: 170px;
}
.isi_news p {
    width: 86%;
    margin: 0 !important;
    float: left;
    letter-spacing: normal;
}
.read {
    width: 30px !important;
    height: 30px !important;
    float: right;
    cursor: pointer;
}
#profil {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    padding: 50px 0;
}
.profil_sekolah {
    width: 67%;
    float: left;
}
.
.title {
    padding: 10px 5px;
    border-bottom: 5px solid #ccc;
    margin-bottom: 20px;
}
.video {
    position: relative;
    width: 60%;
    float: left;
}
.video iframe {
    position: absolute;
    width: 100% !important;
    height: 250px!important;
    margin-right: 10px;
}
.deskripsi {
    text-align: left;
    width: 40%;
    float: right;
}
.deskripsi p {
    padding-left: 15px;
    word-spacing: 1px;
    line-height: 22px;
    font-size: 17px;
    padding-bottom: 25px;
}
.agenda {
    width: 30%;
    float: right;
}
.title {
    padding: 10px 5px;
    border-bottom: 5px solid #ccc;
    margin-bottom: 20px;
}
.isi_agenda {
    max-width: 100%;
    padding: 5px 0px;
    border-bottom: 2px solid #ccc;
}
.thumbnail {
    padding: 5px;
    width: 46px;
    height: 46px;
    float: left;
    border: 1px solid #ccc;
}
.thumbnail img {
    width: 46px;
    height: 46px;
}
.agenda_title {
    width: 80%;
    float: right;
}
.agenda_title h4 {
    font-size: 140%;
    font-family: 'Roboto';
    font-weight: 700;
    color: #000;
}
.agenda_title h4:hover{
	color: #0093dd;
}
.text {
    clear: both;
    max-width: 100%;
    padding: 10px 5px 0px 5px;
    box-sizing: border-box;
}
.text_left {
    width: 50%;
    float: left;
    text-align: left;
}
.text a {
    color: #0093dd;
    font-family: 'Roboto';
}
.text a:hover{
	color: #0082C4;
}
.text_right {
    float: right;
    width: 50%;
    text-align: right;
}
#gallery {
    width: 100%;
    padding: 0px 0px 50px 0px;
}
.gallery {
    width: 49%;
    float: left;
    height: auto;
    margin-right: 1px;
    box-sizing: border-box;
}
.isi_gallery {
    overflow: hidden;
    display: inline-block;
    width: 48%;
    margin: 1%;
    float: left;
}
.isi_gallery img {
    width: 100%;
    transition: all .3s ease;
    vertical-align: middle;
    height: 190px;
}
.map {
    width: 50%;
    float: right;
}
.map iframe {
    margin-top: 1%;
    height: 390px !important;
}
footer {
    padding: 30px 0;
    width: 100%;
    border-top: 5px solid #ccc;
}
.bottom {
    width: 50%;
    margin-right: 15px;
    box-sizing: border-box;
    float: left;
}
.bottom_box {
    width: 48%;
    margin: 1%;
    float: left;
}
.bottom_title h5 {
    font-size: 18px;
    padding: 15px 0px;
}
.bottom_box ul {
    list-style: none;
}
.bottom_box ul li {
    padding: 4px 0;
}
.bottom_box a {
    font-weight: bold;
    font-family: 'Roboto';
    color: #4E4E4E;
}
.bottom_box a:hover{
	color: #0093dd;
}
.bottom_box p {
    font-weight: bold;
    color: #4E4E4E;
    word-spacing: 1px;
    line-height: 20px;
}
.saran {
    width: 46%;
    position: relative;
    float: right;
}
.social {
    margin: 15px 0;
    left: 100%;
}
.left {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
.social a {
    width: 48px;
    height: 48px;
    display: block;
    left: 0px;
}
.fb {
    background-position: 0px 0px;
}
.twitter {
    background-position: 0px -96px;
}
.gplus {
    background-position: 0px -192px;
}
.copyright {
    width: 100%;
    background: #282828;
    padding: 25px 0;
    color: #fff;
    font-size: 14px;
}
.copyright a {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto';
}
.copyright a:hover{
	color: #0093dd;
}
.copy_left {
    text-align: left;
    width: 50%;
    float: left;
}
.copy_right {
    text-align: right;
}
.copy_right, .copy_left {
    font-size: 14px;
    font-family: 'Roboto';
}